 .test{
  /* display: block; */
  /* max-width: 230px;
  max-height: 95px; */
  /* width: auto;
  height: auto; */
  height: 788px;

  background: transparent no-repeat center;
  background-size: cover;

}

#nextPage{
        position: fixed;
        width:200px;
        height:100px;
        bottom: 180px;
        left: 30%;
        margin-left: -100px;
        border-bottom-width:1px;
        border-top-width:1px;
        border-right-width:1px;
        border-left-width:1px;
        border-style:solid;
        border-color:#000000;
        text-align:center;
        position:relative;
        background:rgba(0,0,0,0.5);
        opacity: 0;
}

button {
   position:relative;
   top: 50%;
   transform: translateY(-50%);
}

.gif{
  position: fixed;
  width:250px;
  height:235px;
  bottom: 210px;
  left: 20%;
  margin-left: -50px;
  text-align:center;
  position:relative;
}

.whitebg{
  /* border-style:solid;
  height: 120px;
  width: 200px;
  bottom: 350px;
  left: 15%;
  position: relative; */
} 
